[Unit]
Description=Run the V10 hourly job

[Timer]
OnCalendar=*-*-* *:05:00
Persistent=true
Unit=v10-hourly.service

[Install]
WantedBy=timers.target
